/**
 * FAQ Block - Editor Styles
 */

$bauhaus-black: #121212;
$bauhaus-yellow: #F0C020;

.wp-block-swishfolio-core-faq {
	// Add button
	.sfcore-faq__add {
		margin-top: 1rem;
		width: 100%;
		justify-content: center;
	}

	// Remove button
	.sfcore-faq__remove {
		margin-top: 1rem;
	}

	// Editable question
	.sfcore-faq__question {
		[data-rich-text-placeholder]::before {
			opacity: 0.5;
		}
	}

	// Editable answer
	.sfcore-faq__answer {
		min-height: 60px;

		[data-rich-text-placeholder]::before {
			opacity: 0.4;
		}
	}

	// Keep header clickable in editor
	.sfcore-faq__header {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			cursor: pointer;
		}
	}

	// Make sure RichText is above the clickable overlay
	.sfcore-faq__question,
	.sfcore-faq__icon {
		position: relative;
		z-index: 1;
	}

	.sfcore-faq__question {
		cursor: text;
	}
}
